@font-face {
  font-family: "Atlan";
  font-weight: 800;
  src: local("Atlan"), url("/fonts/Atlan-Bold.ttf") format("truetype");
}

html {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}
.noise-intro {
  opacity: 0.11;
  position: fixed;
  width: 100%;
  height: 100%;
}

.noise {
  opacity: 0.07;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

body {
  touch-action: pan-y;
  overscroll-behavior: none;
  margin: 0;
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #aaa;
  --color-link-hover: #000;
  color: var(--color-text);
  --color-text: #262523;
  --color-title: #ffffff;
  --img-maxwidth: 250px;
  --filter-img: none;
  font-family: quiroh, sans-serif;
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  cursor: none;
}

p {
  cursor: none;
}

.first_page {
  height: 100vh;
  padding-bottom: calc(7.5vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (-webkit-touch-callout: none) {
  .first_page {
    height: 100vh;
    padding-bottom: calc(7.5vh + 177px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.fold-scroller {
  height: 100%;
}

.fold-content {
  pointer-events: all;
  width: 100%;
}

.fold-size-fix {
  width: 100%;
  height: 100%;
}

.fold-before .fold-size-fix {
  transform-origin: bottom center;
}

.fold-after .fold-size-fix {
  transform-origin: top center;
}

#base-content {
  display: none;
}

/*  Debug */
.debug .fold:nth-child(2n) {
  background: #dadada;
}

.debug .fold:nth-child(2n + 1) {
  background: #bababa;
}

.btn-debug {
  position: fixed;
  top: 10px;
  padding: 1rem;
  font-size: 16px;
  text-transform: uppercase;
  right: 10px;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.square {
  width: 100%;
  padding-bottom: 100%;
  background: coral;
}

.rectangle {
  width: 100%;
  padding-bottom: 50%;
  background: coral;
  box-shadow: 1px 0 coral, 0 1px coral;
}

/* Transitions */

.content--intro {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background-color: var(--color-bg);
  position: fixed;
  overscroll-behavior: none;
}

.content__inner {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__title {
  font-family: condor-compressed, sans-serif;
  color: transparent;
  letter-spacing: 0.05em;
  font-size: 3em;
  color: white;
  margin: 0;
  line-height: 1;
}

.content__subtitle {
  font-family: Atlan;
  letter-spacing: 0.05em;
  font-size: 1em;
  color: var(--color-text);
  padding: 0.5em 0 0 0;
  margin: 0;
}

.enter,
.explore {
  font-family: Atlan;
  margin: 6vh 0 0 0;
  font-size: 1em;
  cursor: none;
  font-weight: bold;
  color: var(--color-text);
  pointer-events: auto;
}

.enter:hover,
.enter:focus {
  color: red;
}

.enter:active,
.enter:active {
  color: red;
}

.enter span {
  display: inline-block;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}

.frame {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 10vw;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-family: Atlan;
}

.frame__links {
  font-family: Atlan;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh);
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
/* 
.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
} */

.content_floating_image {
  position: absolute;
  z-index: 10000;
  pointer-events: none;
}

.content__img {
  max-width: var(--img-maxwidth);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform;
  filter: var(--filter-img);
}

.cursor {
  display: none;
}

@media screen and (min-width: 53em) {
  .cursor {
    display: block;
  }
  .cursor__inner {
    z-index: 99999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;
  }

  .cursor__inner--circle {
    width: 10px;
    height: 10px;
    background: white;
  }
  .outer-cursor {
    display: block;
    z-index: 99999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
  }

  .outer-cursor--circle {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
  }

  a {
    cursor: none;
  }

  .frame {
    position: fixed;
    text-align: left;
    z-index: 1001;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 3rem;
    pointer-events: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title links"
      "... ..."
      "... demos";
  }

  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }

  .frame__title {
    margin: 0;
    font-family: Atlan;
  }

  .frame__tagline {
    position: relative;
    margin: 0 0 0 1rem;
    padding: 0 0 0 1rem;
    opacity: 0.5;
  }

  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }

  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
    font-family: Atlan;
  }

  .frame a {
    pointer-events: auto;
  }

  .content {
    height: 100vh;
    justify-content: center;
  }
}
